@import mixin
@import variables

::-webkit-scrollbar
  width: 4px
::-webkit-scrollbar-thumb
  background-color: $sw-yellow
body
  background: url(https://i.imgur.com/wGfs9khh.jpg) repeat center center fixed
  overflow-x: hidden
  #particles-js
    position: fixed
    width: 100%
    height: 100%
  #sidebar
    @include flex
    position: fixed
    overflow: hidden
    width: 40vw
    height: 100vh
    background-color: rgba(white, $alpha)
    text-align: center
    #logo
      margin-top: .5em
      max-width: 80%
  #content
    width: 60vw
    position: absolute
    right: 0
    padding: 3em
    .character
      width: 100%
  #modal
    .modal-body
      .row
        #loader
          width: 100%
          @include flex
          img
            max-width: 10em



@media (max-width: $breakpoint-tablet)
  body
    #sidebar
      position: static
      width: 100%
      #logo
        width: 50vw
    #content
      position: static
      width: 100%
      margin-top: 2em

@media (max-width: $breakpoint-mobile)
  body
    #content
      .col-sm
        width: 50%

