body {
  background: url(https://i.imgur.com/wGfs9khh.jpg) repeat center center fixed;
  overflow-x: hidden;
}

body #result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body #result-container .col-sm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body img {
  max-width: 60%;
}
